@import "tailwindcss";

@theme {
  --color-yellow: #CFAD04;
}

option:checked {
  background-color: #CFAD04;
  color: white;
}
/* Quitar scroll en Chrome, Edge, Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Quitar scroll en Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}